# Ignore everything by default
*

# Allow the files needed for the server Docker build
!package.json
!package-lock.json
!apps/server/package.json
!apps/server/src/
!apps/server/src/**
!packages/database/package.json
!packages/database/prisma/
!packages/database/prisma/**
!packages/database/src/
!packages/database/src/**
!packages/shared/package.json
!packages/shared/src/
!packages/shared/src/**
